body {
  background: $brand-color;
  color: $muted-text-color;
  font-family: $font-family;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.4;
  padding-top: 2em;  // Adds space at the very top
}

h1 {
  font-size: 2em;
  margin: .5em auto;
  font-weight: 500;
  color: $text-color
}

h2 {
  font-size: 1.4em;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: 500;
  text-align: left;
  color: $text-color;
}

h3 {
  font-size: 1.2em;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: 500;
  text-align: left;
  color: $text-color;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: center;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;
}

a:focus {
  outline: 1px dashed $text-color;
}

blockquote {
  margin: 2em auto;
  opacity: .8;
  > * {
    padding: 0 3em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-size: .75em;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

figure img {
  margin: 2em auto 1em;
}

figcaption {
  font-size: .875em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  opacity: .7;
}

.divided::after {
  content: "";
  @include divider;
}


.content-title {
  font-size: 1.5em;
  margin-bottom: 0em;
  text-align: left;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .825em;
  white-space: nowrap;
  text-transform: uppercase;
  .post-link & {
    padding: .5em 0;
  }
}

.site-credits {
  margin: 0 auto 2em;
  padding: 0 2em;
  text-align: center;
}

.skip-navigation {
  background: $brand-color;
  border: 1px dashed transparent;
  display: block;
  font-size: .875em;
  font-weight: 700;
  margin-top: -2.625rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: lighten($brand-color, 2.5%);
    border-color: $text-color;
    margin-top: 0;
  }
}

// Remove top margin from first paragraph
.intro-text p:first-child {
  margin-top: 0;
}

.intro-text p {
  font-style: normal;
  margin-bottom: 1em;
}

// Profile container - photo and text side by side
.profile-container {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.profile-content {
  flex: 1;
  margin-top: 0;
  padding-top: 0;
  
  // Remove top margin from first heading
  > .content-title:first-child {
    margin-top: 0;
  }
}

.profile-image {
  flex-shrink: 0;
  margin-top: 2.6em;  // Push image down to align with "Hello!"
  padding-top: 0;

  img {
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 0;
    
    @media (max-width: 768px) {
      margin: 0 auto 2em;
    }
  }
}

// Adjust home max-width for two-column layout
.home {
  max-width: 45em;  // Make wider to accommodate both columns
  margin: auto;
  padding: 2em 1em;
}

.page-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em 0;  // Bottom margin only
  color: $text-color;
  text-align: left;
}
