/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.woff2') format('woff2'),
    url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.woff') format('woff'),
    url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.ttf') format('truetype');
}