---
layout: default
---

<main class="home" id="main" role="main" aria-label="Content">
  
  <div class="profile-container">
    <div class="profile-image">
      <img src="/assets/images/headshot.jpg" alt="headshot">

      <div class="profile-contact">
        <a class = "accent-text" href="mailto:fionachen@g.harvard.edu">fionachen@g.harvard.edu</a><br>
        <a class = "accent-text" href="/cv.pdf">Curriculum Vitae</a>
      </div>
    </div>
    
    <div class="profile-content">
      <!-- Name as first section header in right column -->
      <h2 class="main-title">Fiona Chen</h2>
      
      <div class="section-text">
        <p>I am a Ph.D. candidate in Business Economics at <a class ="accent-text" href="https://gsas.harvard.edu/news/speaking-out-inequality">Harvard University</a>. 

          My research is in labor economics, with a focus on the impacts of AI and organizational decisions.
        </p>
        
        <p>
          <strong>I am on the 2026-2027 academic job market.</strong>
        </p>

        <p>
          Previously, I was a visiting student at the <a class="accent-text" href="https://mailchi.mp/stanford/digdig-06262026">Stanford Digital Economy Lab</a>. I received my B.S. in Mathematics and in Economics from MIT. 
        </p>

        <p>
          I served on the <a class="accent-text" href="https://news.mit.edu/2021/corporation-11-term-three-life-members-0603">MIT Corporation</a> and as a Research Fellow at the Social Finance Institute, where I worked on practitioner-oriented research about the economic impacts of AI. 
        </p>
        
        <p>
          My work is supported by the Stripe Economics of AI Fellowship, Schmidt Sciences AI at Work Program, <a class="accent-text" href="https://news.mit.edu/2021/nine-mit-students-awarded-paul-daisy-soros-fellowships-new-americans-0413">Paul and Daiy Soros Fellowship</a>, and Stone Fellowship in Inequality and Wealth Concentration.
        </p>
        <!-- <p>
          Outside of my research, I enjoy art, music, running, and cooking. I am an Associate at the List Visual Arts Center, a contemporary art museum.
        </p> -->
      </div>

      <section class="research-section">
        <h3 class="section-title">Research</h3>
        <div class="section-text">
        <p><a class="paper-title" href="/jellyfish.pdf">Artificial Intelligence in the Firm: Bottlenecks in Software Production</a>
          <br>
          with James Stratton, January 2026
          <br>
          <a class="paper-reference" href="https://www.economist.com/business/2026/02/01/why-software-stocks-are-getting-pummelled">The Economist</a>
          <a class="paper-reference" href="https://www.youtube.com/watch?v=2SkElqCoZYI&t=101s">Harvard Stone Seminar</a>
          <a class="paper-reference" href="https://jellyfish.co/blog/harvard-jellyfish-ai-is-making-developers-faster/">Jellyfish 1</a>
          <a class="paper-reference" href="https://jellyfish.co/blog/does-ai-assistance-mean-engineers-are-doing-less-coding-work-maybe-not/">Jellyfish 2</a>
          <a class="paper-reference" href="https://www.oecd.org/content/dam/oecd/en/publications/reports/2026/07/oecd-employment-outlook-2026_a41e8b9f/7e710f54-en.pdf">OECD</a>
          
        </p>

        <p><span class="paper-title">Task Assignment and Career Advancement</span>
          <br>
          with James Stratton 
          <br>
        </p>
        
        <p><span class="paper-title">AI as a Career Advisor</span>
          <br>
          with Katelyn Cranney and Leo Saenger
          <br>
        </p>
        
        <p><span class="paper-title">The Labor Market Effects of AI: Current Evidence and Future Directions</span>
          <br>
          with Erik Brynjolfsson and Bharat Chandar
          <br>
        </p>

        </div>
      </section>

      <section class="misc-section">
        <h3 class="section-title">Selected Policy and Writing</h3>
        <div class="section-text">
          <p>
            <a class="paper-title" href="https://socialfinance.org/insight/shaping-the-future-of-work-generative-ai-inequality-and-opportunity/">Shaping the Future of Work: Generative AI, Inequality, and Opportunity</a>
            <br>
            December 2025
            <br>
            Social Finance Institute, Workplace and Economic Mobility Papers
            <br>
            </p>
          <p>
            <a class="paper-title" href="https://web.mit.edu/valuescomm-report/mit-values-committee-final-report-1.pdf">MIT Values Statement</a>
            <br>
            with Daniel Hastings, Tracy Gabridge, and many others, March 2022
            <br>
            <a class="paper-reference" href="https://www.mit.edu/values/">Statement</a>
            <a class="paper-reference" href="https://orgchart.mit.edu/letters/welcoming-mit-values-statement">Announcement</a>
            <a class="paper-reference" href="https://thetech.com/2022/04/14/mit-values-statement">The Tech</a>
          </p>

          <p>
            <a class="paper-title" href="https://thetech.com/2017/09/29/chomsky-reminiscing">Reflecting on Noam Chomsky’s 66 years at MIT</a>
            <br>
            with Whitney Zhang, September 2017
            <br>
            The Tech
          </p>
        </div>
        
        <div class="section-text">
          
        </div>
        
        
        <a>

        </a>
        
      </section>
    </div>
  </div>

</main>
