---
layout: default
---

<main class="home" id="main" role="main" aria-label="Content">
  
  <div class="profile-container">
    <div class="profile-image">
      <img src="/assets/images/headshot.png" alt="headshot">

      <!-- <div class="section-text">
        <a href="mailto:fionachen@g.harvard.edu">fionachen@g.harvard.edu</a><br>
        <a href="/assets/cv/cv.pdf">CV</a>
      </div> -->
    </div>
    
    <div class="profile-content">
      <!-- Name as first section header in right column -->
      <h2 class="main-title">Fiona Yifei Chen</h2>
      
      <div class="section-text">
        <p>I am a Ph.D. candidate in Business Economics at Harvard University. My research is in labor economics, with a focus on the economics of AI.
          I received my B.S. in Mathematics and in Economics from MIT.
        </p>

        <p>In Winter of 2026, I am visiting the Stanford Digital Economy Lab.</p>

        <p>You can reach me at <a href="mailto:fionachen@g.harvard.edu">fionachen@g.harvard.edu</a> and access my <a href="/assets/cv/cv.pdf">CV here</a>.</p>
      </div>

      <section class="research-section">
        <h3 class="section-title">Research</h3>
        <div class="section-text">
        <p><a href="/assets/papers/jellyfish.pdf"><em>Artificial Intelligence in the Firm</em></a>
          <br>
          with James Stratton
        </p>
        </div>
      </section>

      <section class="misc-section">
        <h3 class="section-title">Policy and Service</h3>
        <div class="section-text">
          <p>
          I am a Research Fellow at the <a href="https://socialfinance.org/institute/">Social Finance Institute</a>, where I work on 
          practitioner-oriented research projects on the <a href="https://socialfinance.org/insight/shaping-the-future-of-work-generative-ai-inequality-and-opportunity/">economics of AI</a>. 
          </p>
          <p>
            I also serve on the <a href="https://corporation.mit.edu/">MIT</a> 
            <a href="https://news.mit.edu/2021/corporation-11-term-three-life-members-0603">Corporation</a>, 
            and formerly served in various policy roles while as an MIT student. 
            An example of work I have done in this capacity is assisting in writing MIT's <a href="https://www.mit.edu/values/">Values</a> 
            <a href="https://web.mit.edu/valuescomm-report/mit-values-committee-final-report-1.pdf">Statement</a>.
          </p>
        </div>
        
      </section>
    </div>
  </div>

</main>